body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../IMAGES/kids2.jpg);
    text-align: center;
}

input[type=text], select, textarea {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=date], select, textarea {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label {
    font-family: Arial;
    font-size: 20px;
}

div {
    display: inline-table;
}

section {
    visibility: hidden;
    display: inline-table;
    left: 30px;
    bottom: 150px;
    position: relative;
    color: white;
    background-image: linear-gradient(#004E64B3, #00A5CFB3, #25A18EB3);
    background-position: center;
    align-items: center;
    padding: 20px;
    height: fit-content;
    box-shadow: 10px 10px 20px black;
    border-style:solid;
    border-color:#9FFFCBB3;
    border-radius: 30px;
    border-width: 1px;
    width: fit-content;
}

button {
    position: relative;
    color: white;
    background-image: linear-gradient(#004E64B3, #00A5CFB3, #25A18EB3);
    background-position: center;
    align-items: center;
    height: fit-content;
    box-shadow: 10px 10px 20px black;
    border-style:solid;
    border-color:#9FFFCBB3;
    border-radius: 30px;
    border-width: 1px;
    width: fit-content;
}

.fa-child{
    margin-top: 100px;
    font-size: 250px;
}

.fa-plus {
    pointer-events: none;
    font-size: 75px;
    color: green;
}

#iForm {
    margin-top: 0;
    font-size: 70px;
}

#sex {
    margin-right: 245px;
}

h1 {
    color: #004e64;
    text-align: Center;
    font-family: Algerian;
    font-size: 35px;
    animation-name: Ajouter;
    animation-duration: 8s;
}

@keyframes Ajouter {
    0% {
        color: #00A5CF;
    }
    25% {
        color: #9FFFCB;
    }
    50% {
        color: #25A18E;
    }
    100% {
        color: #7AE582;
    }
}

iframe {
    top: 0px;
    padding-top: 0px;
    margin-top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.inline-radio {
	display: flex;
	overflow: hidden;
}

input[id="male"]:checked  ~ #iForm {
    color: blue;
}