body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

body {
    background-image: url(../IMAGES/kids2.jpg);
}

input[type=text], select, textarea {
    font-size: 18px;
    width: 15%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
    font-family: Arial;
    font-size: 20px;
}

h1 {
    color: #004e64;
    text-align: left;
    font-family: Algerian;
    font-size: 35px;
    animation-name: Ajouter;
    animation-duration: 8s;
}

@keyframes Ajouter {
    0%   {color: #00A5CF;}
    25%  {color: #9FFFCB;}
    50%  {color: #25A18E;}
    100% {color: #7AE582;}
}