html {
    background: url(../images/water2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

iframe {
    top: 0px;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

h1 {
    color: lightgoldenrodyellow;
    text-align: center;
    font-family: Algerian;
    font-size: 40px;
    animation-name: Programmes;
    animation-duration: 8s;
    text-align: center;
    margin: 50px;
    text-shadow: 10px 10px 20px black;
}

@keyframes Programmes {
    0% {
        color: #004E64;
    }
    25% {
        color: #FAF33E;
    }
    50% {
        color: #379634;
    }
    100% {
        color: #CE8147;
    }
}

h3 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    text-decoration-line: underline;
}

.col-25 {
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #004e64;
    background-color: rgba(135, 206, 250, 0.6);
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 10px 0px 20px;
    width: 200px;
    height: auto;
    transform: translateY(10px);
}

.col-75 {
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #004e64;
    background-color: rgba(135, 206, 250, 0.6);
    width: max-content;
    height: 720px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    box-shadow: 10px 0px 20px;
}

#panier_title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#accepted_card {
    font-weight: bold;
}

.icon_card_container {
    border: 1px solid;
    border-width: 2px;
    border-style: dotted;
    margin-right: 320px;
    font-weight: bold;
}

#submit {
    font-size: large;
    font-weight: bold;
    color: lightcyan;
    background-color: rebeccapurple;
}

#cart_title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#cart_container {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#total_text {
    font-size: xx-large;
    font-weight: bold;
}

#price {
    font-size: xxx-large;
    font-weight: bold;
    color: rebeccapurple;
}

#visa {
    color: navy;
}

#mastercard {
    color: red;
}

label {
    font-weight: bold;
    display: inline-block;
    width: auto;
}

input {
    margin-left: auto;
}