* {box-sizing: border-box;}
ul {list-style-type: none;}
body {
    background: lightblue;
    font-family: Verdana, sans-serif;
}

th {
    font-size: 48px; 
    margin-bottom: 0%;
    padding-top: 10px;
    text-align: center;
}

/* Month header test*/
.month {
  padding: 40px 25px;
  width: 100%;
  background: #4a4e81;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  padding: 10px 0;
  margin: 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 12%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  font-weight: bold;
  color: black
}

.days li {
  padding: 10px 0;
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 10px;
  background: #1abc9c;
  color: white !important
}

/* Red Days */
.redDays {
  padding: 10px 0;
  background: rgb(224, 139, 139);
  margin: 0;

  color: black
}

/* Hover text */
.redDays {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.redDays .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.redDays:hover .tooltiptext {
  visibility: visible;
}

table, td {
    margin-left: 5%;
    padding: 30px;
}

td {
    width: 45%;
}
