html {
    background: url(../images/fire1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    transform: translateY(100px);
}

p {
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #004e64;
    background-color: rgba(135, 206, 250, 0.6);
    margin: auto;
    padding: 10px;
    box-shadow: 10px 0px 20px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    transform: translateY(200px);
}

.thx {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: #004e64;
    background-color: rgba(135, 206, 250, 0.6);
    width: max-content;
    height: 20px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    box-shadow: 10px 0px 20px;
    transform: translateY(500px);
}