/* THis file is the CSS file of the  Main.html file */
/* The hex colors style can be found here 
-> https://coolors.co/004e64-00a5cf-9fffcb-25a18e-7ae582
excellent source for colors!!
*/

/* Navbar */
nav {
    text-align: right;
}
/* Dropdown Button */
.dropbtn {
    background-color:#004e64;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #25a18e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 8px;
    text-decoration: none;
    display: block;
}
  
/* Colour of dropdown links on hover */
.dropdown-content a:hover {background-color: #004e64;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Background colour of the dropdown button after hovered*/
.dropdown:hover .dropbtn {background-color: #25a18e;}

/* Icons in the navbar*/
i {
    font-size:16px;color:#7ae582;
    text-shadow:2px 2px 4px #000000;
}

/* What is displayed once connected */
#nomLogin {
    display:none;
}

/* The header of the main page */
header h1 {
    color: black;
}

/* main content of the main page */
body {
    /* I'm not sure about the background color yet lol maybe white? We will discuss that in the meeting */
    background: lightblue;
    color:black;
}