
/* The hex colors style can be found here 
-> https://coolors.co/004e64-00a5cf-9fffcb-25a18e-7ae582
excellent source for colors!!
*/

/* Navbar */
nav {
    text-align: right;
}
/* Dropdown Button */
.dropbtn {
    background-color:#004e64;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #25a18e;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 8px;
    text-decoration: none;
    display: block;
}
  
/* Colour of dropdown links on hover */
.dropdown-content a:hover {background-color: #004e64;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Background colour of the dropdown button after hovered*/
.dropdown:hover .dropbtn {background-color: #25a18e;}

/* Icons in the navbar*/
i {
    font-size:16px;color:#7ae582;
    text-shadow:2px 2px 4px #000000;
}

/* What is displayed once connected */
#nomLogin {
    display:none;
}

/* The header of the main page */
header h1 {
    color: #004e64;
    text-align: center;
    font-family: Algerian;
    font-size: 70px;
    animation-name: Anti-covidios;
    animation-duration: 8s;
}

@keyframes Anti-covidios {
    0%   {color: #00A5CF;}
    25%  {color: #9FFFCB;}
    50%  {color: #25A18E;}
    100% {color: #7AE582;}
}

#accueil {
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    text-shadow:10px 10px 10px black;
}

/* main content of the main page */
body {
    background-image: url(../IMAGES/kids5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div.a {
    text-align: center;
}
div.b {
    border-radius: 25px;
    text-align: center;
    background-color: lightskyblue;
    width: 1200px;
    height: auto;
    margin: auto;
    padding: 5px;
}

#createAccountForm {
    display: none;
    background-image: linear-gradient(lightskyblue, greenyellow);
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    position:absolute;
    top: 20%;
    right: 10%;
    width:400px;
    height:300px;
    margin: auto;
    padding:10px;
    border: 5px solid;
}

::placeholder {
    font-size: 12px;
    color: lightgrey;
    border: green;
}

#pwDoesNotMatch {
    font-size: 18px;
    display: none;
    color: red;
    position: relative;
}