section {
    color: white;
    background-image: linear-gradient(#004E64B3, #00A5CFB3, #25A18EB3);
    background-position: center;
    align-items: center;
    margin: 50px;
    padding: 30px;
    height: 500px;
    box-shadow: 10px 10px 20px black;
    border-style:solid;
    border-color:#9FFFCB;
    border-radius: 30px;
    border-width: 1px;
}

h2 {
    font-size: 22px;
    color: lightgoldenrodyellow;
    text-align: center;
    text-decoration: underline greenyellow;
}

h3 {
    font-size: 22px;
    color:  lightgoldenrodyellow;
    text-align: center;
}

ul {
    text-align: left;
    font-size: 22px;
}

body {
    background-image: url(../IMAGES/water5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: black;
}

header {
    color: lightgoldenrodyellow;
    text-align: center;
    font-family: Algerian;
    font-size: 40px;
    animation-name: Programmes;
    animation-duration: 8s;
    text-align: center;
    margin: 50px;
    text-shadow:10px 10px 20px black;
}

@keyframes Programmes {
    0%   {color: #004E64;}
    25%  {color: #FAF33E;}
    50%  {color: #379634;}
    100% {color: #CE8147;}
}

body ul {
    list-style-type: square;
}

body ul ul {
    list-style-type: circle;
}

iframe {
    top: 0px;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    overflow: hidden;
    width: 100%;
    height: 450px;
}