section {
    position: relative;
    color: white;
    background-image: linear-gradient(#004E64B3, #00A5CFB3, #25A18EB3);
    background-position: center;
    align-items: center;
    margin: 0px;
    padding: 20px;
    height: 600px;
    box-shadow: 10px 10px 20px black;
    border-style:solid;
    border-color:#9FFFCBB3;
    border-radius: 30px;
    border-width: 1px;
    width: fit-content;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: lightgoldenrodyellow;
    text-align: center;
    text-decoration: underline greenyellow;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    color:  rgb(252, 252, 252);
    text-align: center;
}

h4 {
    font-size: 22px;
    color:  lightgoldenrodyellow;
    text-align: center;
}

ul {
    text-align: left;
    font-size: 18px;
}

h2, h3, h4 {
    line-height: 10px;
}

body {
    background-image: url(../IMAGES/water5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: black;
}

header {
    color: lightgoldenrodyellow;
    text-align: center;
    font-family: Algerian;
    font-size: 40px;
    animation-name: Programmes;
    animation-duration: 8s;
    text-align: center;
    margin: 50px;
    text-shadow:10px 10px 20px black;
}

@keyframes Programmes {
    0%   {color: #004E64;}
    25%  {color: #FAF33E;}
    50%  {color: #379634;}
    100% {color: #CE8147;}
}

body ul {
    list-style-type: square;
}

body ul ul {
    list-style-type: circle;
}

iframe {
    top: 0px;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.fa {
    text-align: center;
    font-size:120px;color:#7ae582;
    text-shadow:2px 2px 4px #000000;
}

#cart {
    overflow: visible;
    float: right;
    text-align: center;
    background-image: linear-gradient(#25A18EB3, #00A5CFB3,  #004E64B3);
    position: relative;
    height: 600px;
    width: fit-content;
}

#cartText {
    color: #7ae582A0;
}

button {
    position: relative;
    float: left;
    margin: 1.5%;
    padding-top: 5px;
    padding-bottom: 5px;;
    background-image: linear-gradient(#004E64B3, #00A5CFB3, #25A18EB3);
    font-size: medium;
    color: white;
    box-shadow: 10px 10px 20px black;
}

#plusButton {
    margin-right: 0;
    float: none;
    display: flex;
    justify-self: center;
    margin-top: 30px;
    border-width: 1px;
    border-radius: 25px;
}

#plusBulletButton {
    margin: auto;
    float: none;
    display: flex;
    justify-self: center;
    margin-top: 30px;
    border-width: 1px;
    border-radius: 25px;
}

#checkmarkButton, #xButton, #undoButton {
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    float: none; 
    display: inline-flex;
    align-self: flex-end;
    justify-self: center;
    border-width: 1px;
    border-radius: 25px;
}

.fa-plus {
    font-size: 25px;
    color: #b8df80;
    display: flex;
    align-self: center;
}

.fa-pencil, .fa-dollar, .fa-list {
    font-size: 60px;
    color: #b8df80;
    display: flex;
    align-self: center;
}

.fa-list-ul {
    font-size: 30px;
    color: #b8df80;
    display: flex;
    align-self: center;
}

.fa-check, .fa-times, .fa-undo{
    font-size: 30px;
}

.fa-times {
    color: #df8080;
}

.fa-undo {
    color: #dfc780;
}