table {
    font-family: Arial, Calibri;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid white;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: lightblue;
}

body {
    /* I'm not sure about the background color yet lol maybe white? We will discuss that in the meeting */
    background-image: url(../IMAGES/sport1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: #00A5CF;
    color: black;
}